
<div class="col-md-10 col-md-offset-1">
  <h3>客戶資料</h3>

  <%= render partial: "common/clienttable", locals:{ client: @client, show_note: true} %>

  <hr />
  <h4>客戶訂單資料</h4>
  <hr />
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active">
        <th>訂單入住日</th>
        <th>訂單退房日</th>
        <th>住房日期</th>
        <th>房號─房型</th>
        <th>來源</th>
        <th>人數</th>
        <th>房價</th>
        <th>加床</th>
        <th>服務費</th>
        <th>總額</th>
        <th>訂金</th>
        <th>信用卡</th>
        <th>餘額</th>
        <th>支付方式</th>
        <th>末4碼</th>
      </tr>
    </thead>
    <tbody>
      <% @client.orders.each do |order| %>
        <% order.room_items.each do |item| %>
          <tr>
            <td><%= order.checkin_date %></td>
            <td><%= order.checkout_date %></td>
            <td><%= item.day %></td>
            <td><%= item.name %></td>
            <td><%= order.source %></td>
            <td><%= item.adult_no + item.kid_no + item.baby_no %></td>
            <td><%= order.room_subtotal %></td>
            <td><%= order.bed_subtotal %></td>
            <td><%= order.service_subtotal %></td>
            <td><%= order.total %></td>
            <td><%= order.downpay %></td>
            <td><%= order.credit_card %></td>
            <td><%= order.balance %></td>
            <td><%= order.pay_type %></td>
            <td><%= order.pay_info %></td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>

<%= link_to '返回', clients_path %>

</div>


