
<% if kind == CartItem::Room_Type %>
  <tr>
    <td><%= item.day %></td>
    <td><%= item.name %></td>
    <td>$<%= item.price %></td>
    <td>$<%= item.add_bed_fee %>(<%= item.add_bed_no %>)</td>
    <td><%= item.adult_no %>, <%= item.kid_no %>, <%= item.baby_no %></td>
  </tr>
<% elsif kind == CartItem::Service_Type %>
  <tr>
    <td><%= item.day %></td>
    <td><%= item.name %></td>
    <td>$<%= item.price %></td>
  </tr>
<% else %>

<% end %>


