
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="clientModalLabel">房間列表設定</h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="active">
            <th colspan="2">日期/項目</th>
            <% @order_days.each do |day| %>
              <th><%= day %></th>
            <% end %>

          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
              <tr>
                <td><%= room.name %></td>
                <td>定價：<%= room.list_price %></td>
                <% @order_days.each do |day| %>
                  <td data-id="<%= room.id %>" data-day="<%= day %>">
                    <div class="form-group add-form">
                      <%= form_with url: add_to_cart_order_path(room), method: :post do |f| %>
                        <%= f.label :price_label, "價格:" %>
                        <%= f.text_field :price, size: "7x10"%>
                        <input type="hidden" name="day" value="<%= day %>">
                        <input type="hidden" name="name" value="<%= room.name %>">
                        <input type="hidden" name="kind" value="Room">
                        <%= f.submit "新增", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>

          <% end %>
        </tbody>
      </table>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">完成</button>
    </div>
  </div>
</div>

