
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="clientModalLabel">服務列表設定</h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="active">
            <th colspan="2">項目/日期</th>
            <% @order_days.each do |day| %>
              <th><%= day %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
              <tr>
                <td><%= service.name %></td>
                <td>定價：<%= service.list_price %></td>
                <% @order_days.each do |day| %>
                  <td data-id="<%= service.id %>" data-day="<%= day %>">
                    <div class="form-group add-form">
                      <%= form_with model: CartItem.new, url: add_to_cart_order_path(service.id), method: :post do |f| %>
                        <%= f.label :price, "價格:" %>
                        <%= f.text_field :price, size: "5x10"%>

                        <input type="hidden" name="cart_item[day]" value="<%= day %>">
                        <input type="hidden" name="cart_item[name]" value="<%= service.name %>">
                        <input type="hidden" name="cart_item[kind]" value="Service">
                        <%= f.submit "新增", class: "btn btn-primary" %>
                      <% end %>

                    </div>
                  </td>
                <% end %>
              </tr>

          <% end %>
        </tbody>
      </table>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">完成</button>
    </div>
  </div>
</div>

