
<% if kind == OrderItem::Room_Type %>
  <tr data-id="<%= item.id %>">
    <td><%= item.day %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.add_bed_fee * item.add_bed_no %></td>
    <td><%= item.adult_no %></td>
    <td><%= item.kid_no %></td>
    <td><%= item.baby_no %></td>
  </tr>
<% elsif kind == OrderItem::Service_Type %>
  <tr data-id="<%= item.id %>">
    <td><%= item.day %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% else %>

<% end %>
