
<% if kind == OrderItem::Room_Type %>
  <tr data-id="<%= item.id %>">
    <td><%= item.day %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.add_bed_fee * item.add_bed_no %></td>
    <td><%= item.adult_no %></td>
    <td><%= item.kid_no %></td>
    <td><%= item.baby_no %></td>
    <% if deletable == true %>
      <td>
        <%= link_to("刪除", remove_order_item_order_path(item), class: "btn btn-danger",
                      method: :delete, remote:true, data: { confirm: "你確定要刪除嗎?" } )%>
      </td>
    <% end %>
  </tr>
<% elsif kind == OrderItem::Service_Type %>
  <tr data-id="<%= item.id %>">
    <td><%= item.day %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <% if deletable == true %>
      <td>
        <%= link_to("刪除", remove_order_item_order_path(item), class: "btn btn-danger",
                      method: :delete, remote:true, data: { confirm: "你確定要刪除嗎?" } )%>
      </td>
    <% end %>

  </tr>
<% else %>

<% end %>
