<div class="col-md-10 col-md-offset-1">
  <h2>當日入住名單</h2>
  <div class="form-group search-form">
    <%= form_with url: daily_orders_path, method: :get, local: true do |f| %>
      <%= f.label :date_label, "入住日期:" %>
      <%= f.text_field :search_date, id: "search_date" %>
      <%= f.submit "查詢", class: "btn btn-primary" %>
    <% end %>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active">
        <th>入住日期</th>
        <th>房號─房型</th>
        <th>金額</th>
        <th>姓名</th>
        <th>手機</th>
        <th>email</th>
        <th>國籍</th>
        <th>身分證/護照</th>
        <th>生日</th>
        <th>地址</th>
        <th>提醒(外)</th>
        <th>備註(內)</th>
      </tr>
    </thead>
    <tbody>
        <% @room_items.each do |item| %>
          <tr>
            <td><%= item.day %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.order.name %></td>
            <td><%= item.order.mobile %></td>
            <td><%= item.order.email %></td>
            <td><%= item.order.country %></td>
            <td><%= item.order.id_no %></td>
            <td><%= item.order.birthday %></td>
            <td><%= item.order.address %></td>
            <td><%= item.order.reminder %></td>
            <td><%= item.order.note %></td>
          </tr>
      <% end %>

    </tbody>
  </table>
</div>

<script type="text/javascript">
$(document).ready(function(){

  <!-- 點選訂房開始日期跳出小月曆 -->
  $('#search_date').datepicker({
    format: "yyyy/mm/dd",
    language: "zh-TW",
    autoclose: true,
    todayHighlight: true,
    toggleActive: true
  });

});


</script>
