
<div class="col-md-10 col-md-offset-1">
  <h3>修改訂單</h3>
  <%= simple_form_for @order do |f| %>
    <%= render partial: "clientform", locals:{ f: f}  %>
    <%= render partial: "roomformupdate", locals:{ f: f, order: @order}  %>
    <%= render partial: "paymentform", locals:{ f: f}  %>
  <% end %>
  <%= render partial: "booking", locals:{ }  %>
  <%= render partial: "formjs", locals:{ }  %>
</div>

<!--bootstrap modal放的地方，初始值沒有任何東西-->
<div id="searchModal" class="modal fade" role="dialog"></div>
<!--bootstrap modal放的地方，初始值沒有任何東西-->
<div id="listServicesModalUpdate" class="modal fade" role="dialog"></div>
<!--bootstrap modal放的地方，初始值沒有任何東西-->
<div id="listRoomsModalUpdate" class="modal fade" role="dialog"></div>
