<div class="col-md-10 col-md-offset-1">
  <h4>未付訂清單</h4>

  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active">
        <th>訂單狀態</th>
        <th>訂單日期</th>
        <th>住房日期</th>
        <th>房號─房型</th>
        <th>姓名</th>
        <th>手機</th>
        <th>國籍</th>
        <th>提醒(外)</th>
        <th>備註(內)</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
          <tr data-link="<%= order_path(order) %>">
            <td><%= render_order_state(order) %></td>
            <td><%= order.created_at.to_date %></td>
            <td><%= order.room_items[0].day %></td>
            <td><%= order.room_items[0].name %></td>
            <td><%= order.client.name %></td>
            <td><%= order.client.mobile %></td>
            <td><%= order.client.country %></td>
            <td><%= order.client.reminder %></td>
            <td><%= order.client.note %></td>
          </tr>

      <% end %>

    </tbody>
  </table>
</div>

<script type="text/javascript">
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
});

</script>
