<tr>
  <td width="90"><%= render_day(room_calendar.day) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r301) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r302) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r303) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r305) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r306) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r101) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r102) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r103) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r105) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r201) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r202) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r203) %></td>
  <td width="90"><%= render_room_summary(room_calendar.r205) %></td>
</tr>
