<tr>
  <td><%= render_day(room_calendar.day) %></td>
  <%= render_summary_td(room_calendar, "301") %>
  <%= render_summary_td(room_calendar, "302") %>
  <%= render_summary_td(room_calendar, "303") %>
  <%= render_summary_td(room_calendar, "305") %>
  <%= render_summary_td(room_calendar, "306") %>
  <%= render_summary_td(room_calendar, "101") %>
  <%= render_summary_td(room_calendar, "102") %>
  <%= render_summary_td(room_calendar, "103") %>
  <%= render_summary_td(room_calendar, "105") %>
  <%= render_summary_td(room_calendar, "201") %>
  <%= render_summary_td(room_calendar, "202") %>
  <%= render_summary_td(room_calendar, "203") %>
  <%= render_summary_td(room_calendar, "205") %>
</tr>
