<tr>
  <td><%= render_day(room_calendar.day) %></td>
  <td><%= room_calendar.R301 %></td>
  <td><%= room_calendar.R302 %></td>
  <td><%= room_calendar.R303 %></td>
  <td><%= room_calendar.R305 %></td>
  <td><%= room_calendar.R306 %></td>
  <td><%= room_calendar.R101 %></td>
  <td><%= room_calendar.R102 %></td>
  <td><%= room_calendar.R103 %></td>
  <td><%= room_calendar.R105 %></td>
  <td><%= room_calendar.R201 %></td>
  <td><%= room_calendar.R202 %></td>
  <td><%= room_calendar.R203 %></td>
  <td><%= room_calendar.R205 %></td>
</tr>
