<tr>
  <td><%= render_day(room_calendar.day) %></td>
  <td><%= room_calendar.room_summary("301") %></td>
  <td><%= room_calendar.room_summary("302") %></td>
  <td><%= room_calendar.room_summary("303") %></td>
  <td><%= room_calendar.room_summary("305") %></td>
  <td><%= room_calendar.room_summary("306") %></td>
  <td><%= room_calendar.room_summary("101") %></td>
  <td><%= room_calendar.room_summary("102") %></td>
  <td><%= room_calendar.room_summary("103") %></td>
  <td><%= room_calendar.room_summary("105") %></td>
  <td><%= room_calendar.room_summary("201") %></td>
  <td><%= room_calendar.room_summary("202") %></td>
  <td><%= room_calendar.room_summary("203") %></td>
  <td><%= room_calendar.room_summary("205") %></td>
</tr>
