<div class="col-md-10 col-md-offset-1">
  <h3>依房間查詢 (<%= @room_no.upcase %>)</h3>

  <div id="events_url" data-events_url="<%= @events_url %>" />

  選擇房間：
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to("R301", calendar_admin_room_calendars_path(room: 'r301'), method: :get, class: "btn btn-default")%>
    <%= link_to("R302", calendar_admin_room_calendars_path(room: 'r302'), method: :get, class: "btn btn-default")%>
    <%= link_to("R303", calendar_admin_room_calendars_path(room: 'r303'), method: :get, class: "btn btn-default")%>
    <%= link_to("R305", calendar_admin_room_calendars_path(room: 'r305'), method: :get, class: "btn btn-default")%>
    <%= link_to("R306", calendar_admin_room_calendars_path(room: 'r306'), method: :get, class: "btn btn-default")%>
    <%= link_to("R101", calendar_admin_room_calendars_path(room: 'r101'), method: :get, class: "btn btn-default")%>
    <%= link_to("R102", calendar_admin_room_calendars_path(room: 'r102'), method: :get, class: "btn btn-default")%>
    <%= link_to("R103", calendar_admin_room_calendars_path(room: 'r103'), method: :get, class: "btn btn-default")%>
    <%= link_to("R105", calendar_admin_room_calendars_path(room: 'r105'), method: :get, class: "btn btn-default")%>
    <%= link_to("R201", calendar_admin_room_calendars_path(room: 'r201'), method: :get, class: "btn btn-default")%>
    <%= link_to("R202", calendar_admin_room_calendars_path(room: 'r202'), method: :get, class: "btn btn-default")%>
    <%= link_to("R203", calendar_admin_room_calendars_path(room: 'r203'), method: :get, class: "btn btn-default")%>
    <%= link_to("R205", calendar_admin_room_calendars_path(room: 'r205'), method: :get, class: "btn btn-default")%>

  </div>
  <br/>


  <br/><div id="calendar"></div><br/>

</div>

<script type="text/javascript">
  events_url = $("#events_url").data("events_url");

  $('#calendar').fullCalendar({
    locale: 'zh-TW',
    height: 500,

    header: {
      left: '',
      center: 'title',
      right: ''
    },

    events: events_url
  });

</script>
