<div class="col-md-12 col-md-offset-0">
  <h4>當月訂房狀況</h4>
  <div class="row">
    <div class="col-md-3">
      <!--日期搜尋功能(含顯示月曆功能)-->
      <%= render partial: "common/searchday", locals:{search_path: monthly_admin_room_calendars_path, search_date: @search_date} %>
    </div>

    <div class="col-md-1"><%= link_to("上一月", monthly_admin_room_calendars_path(search_date: @search_date.prev_month), method: :get, class: "btn btn-primary")%></div>
    <div class="col-md-1"><%= link_to("下一月", monthly_admin_room_calendars_path(search_date: @search_date.next_month), method: :get, class: "btn btn-primary")%></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-2">今天日期：<%= Date.today %></div>    <div class="col-md-1"></div>

  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active">
        <th>日期</th>
        <th>301<br/>雅緻二人房</th>
        <th>302<br/>經典二人房</th>
        <th>303<br/>經典二人房</th>
        <th>305<br/>浪漫情人房</th>
        <th>306<br/>溫馨二人房</th>
        <th>101<br/>迎曦四人房</th>
        <th>102<br/>迎曦二人房</th>
        <th>103<br/>迎曦四人房</th>
        <th>105<br/>豪華四人房</th>
        <th>201<br/>迎曦六人房</th>
        <th>202<br/>迎曦六人房</th>
        <th>203<br/>迎曦六人房</th>
        <th>205<br/>豪華八人房</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "room_calendar", collection: @room_calendars %>
    </tbody>
  </table>
</div>

<!--bootstrap modal放的地方，初始值沒有任何東西-->
<div id="showOrderModal" class="modal fade" role="dialog"></div>
