
<div class="col-md-10 col-md-offset-1">
  <div class="group">
    <%= link_to("輸出PDF", "#", onclick: "previewPrint()", class: "btn btn-primary pull-right") %>
    <!-- <input id="btnPrint" value="列印" type="button" onclick="previewPrint()";/> -->
  </div>

  <!--日期搜尋功能(含顯示月曆功能)-->
  <%= render partial: "common/searchday", locals:{search_path: orders_print_index_path, search_date: @search_date} %>

<!--startprint-->
  <h4>當日房客住宿明細</h4>

  <table class="table table-bordered table-hover">
    <thead>
      <tr class="active">
        <th>房號</th>
        <th>姓名</th>
        <th>手機</th>
        <th>車號</th>
        <th>總價</th>
        <th>訂金</th>
        <th>餘額</th>
        <th>來源</th>
        <th>服務</th>
        <th>備註</th>
      </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <% room_name = "" %>
              <% order.room_items.each do |item| %>
                <% room_name += item.name[0, 3] if item.day == @search_date %>
                <% room_name +=  "、" if item.day == @search_date && order.room_items.size > 1 %>
              <% end %>
              <%= room_name %>
            </td>
            <td><%= order.name %></td>
            <td><%= order.mobile %></td>
            <td></td>
            <td><%= order.total %></td>
            <td><%= order.downpay %></td>
            <td><%= order.balance %></td>
            <td><%= order.source %></td>
            <td>
              <% service_name = "" %>
              <% order.service_items.each do |item| %>
                <% service_name += item.name if item.day == @search_date %>
                <% service_name += "、" if item.day == @search_date && order.service_items.size > 1 %>
              <% end %>
              <%= service_name %>

            </td>
            <td><%= order.note %></td>
          </tr>
      <% end %>

    </tbody>
  </table>
<!--endprint-->

</div>

<%= render "pdfpreview" %>
