
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= render_system_name %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">訂房/訂單管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("訂單登入", new_order_path )%></li>
            <li class="divider"> </li>
            <li> <%= link_to("當月訂房狀況", monthly_admin_room_calendars_path )%></li>
            <li> <%= link_to("依房間查詢", calendar_admin_room_calendars_path ) %></li>
            <li> <%= link_to("未付訂清單", unpaid_orders_path ) %></li>
            <li> <%= link_to("待處理訂單", pending_orders_path ) %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">接待/客戶管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("Check-in(當日入住名單)", daily_orders_path )%></li>
            <li class="divider"> </li>
            <li> <%= link_to("依日期查詢", orders_path )%></li>
            <li> <%= link_to("依客戶查詢", search_clients_path ) %></li>
            <li> <%= link_to("列出所有客戶", clients_path ) %></li>
          </ul>
        </li>
      </ul>

      <% if current_user && current_user.admin? %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">統計報表
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("日報", daily_statistics_path )%></li>
            <li> <%= link_to("週報", weekly_statistics_path )%></li>
            <li> <%= link_to("月報", monthly_statistics_path ) %></li>
            <li> <%= link_to("年報", yearly_statistics_path ) %></li>
          </ul>
        </li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">表單列印
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("當日房客資料表", clients_print_index_path )%></li>
            <li> <%= link_to("當日住宿簡表", abstract_print_index_path )%></li>
            <li> <%= link_to("當日房客住宿明細", orders_print_index_path ) %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">相關連結
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "世界時間", "https://tw.piliapp.com/time-now/", target: "_blank" %></li>
            <li><%= link_to "中央氣象局", "https://www.cwb.gov.tw/V7/forecast/", target: "_blank" %></li>
            <li><%= link_to "一週天氣預報", "https://www.cwb.gov.tw/V7/forecast/week/week.htm#area2", target: "_blank" %></li>
            <li><%= link_to "颱風警報", "https://www.cwb.gov.tw/V7/prevent/typhoon/ty.htm", target: "_blank" %></li>
            <li class="divider"> </li>

            <li><%= link_to "觀星天相圖", "", target: "_blank" %></li>
            <li><%= link_to "Windty", "https://www.windy.com/?23.975,120.941,5", target: "_blank" %></li>
            <li class="divider"> </li>

            <li><%= link_to "英漢字典", "https://tw.voicetube.com/definition/", target: "_blank" %></li>
            <li><%= link_to "高速公路路況", "https://1968.freeway.gov.tw/traffic/index/fid/10010", target: "_blank" %></li>
            <li><%= link_to "Google map", "https://www.google.com.tw/maps/@24.0456979,121.1562197,17z?hl=zh-TW", target: "_blank" %></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">系統管理
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("房價管理", admin_rooms_path )%></li>
            <li> <%= link_to("服務管理", admin_services_path )%></li>
            <li class="divider"> </li>
            <li> <%= link_to("行事曆管理", admin_room_calendars_path )%></li>
            <li class="divider"> </li>
            <li> <%= link_to("資料備份", export_print_index_path )%></li>
            <li class="divider"> </li>
            <li> <%= link_to("系統更新列表", dashboard_index_path ) %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if !current_user %>
          <li> <%= link_to("登入", new_user_session_path) %> </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
              <% if !current_user.title.blank? %>
                (<%= current_user.title %>)
              <% end %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li> <%= link_to("帳號管理", admin_users_path )%></li>
                <li class="divider"> </li>
              <% end %>
              <li> <%= link_to("帳號設定", edit_user_registration_path )%></li>
              <li> <%= link_to("登出", destroy_user_session_path, method: :delete ) %></li>
            </ul>
          </li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
